body {
    background-color: rgb(127, 216, 238);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }

  div {
      text-align: center;
  }
  

  p {
    font-family: serif;
    font-size: 20px;
  }