body {
    background-color: rgb(239, 208, 175);
  }
 
 .college-btn {
     box-shadow: 5px 5px 15px rgb(108, 97, 86);
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    border: solid 1px black;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin: 3px;
 }


 .college-btn:hover {
     background-color: rgb(210, 149, 149);
     color: white;
 }

 .current {
    background-color: cornflowerblue;
 }

 #review-form {
     text-align: center;
 }

 #submit {
    background-color: rgb(255, 255, 255);
    padding: 8px 16px;
    border: solid 1px black;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
 }
 
  div#reviews-cont {
      background-color: rgb(239, 208, 175);
      text-align: center;
      
  }

  .name {
      font-family: Arial, Helvetica, sans-serif;
  }

  .description {
    font-family: Arial, Helvetica, sans-serif;
  }

  .review-box {
      border-style: solid;
      border-radius: 150px;
      border-color: black;
      background-color: rgb(255, 255, 255);
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
  }
  
  .edit {
    background-color: rgb(239, 208, 175);
    padding: 10px 16px;
    border: solid 1px black;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }

  .edit:hover {
    background-color: rgb(210, 149, 149);
    color: white;
  }

  .delete {
    background-color: rgb(239, 208, 175);
    padding: 10px 16px;
    border: solid 1px black;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }

  .delete:hover {
    background-color: rgb(195, 84, 84);
    color: white;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  h1 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      text-shadow: 5px 5px 15px rgb(108, 97, 86);
  }

 #college-cont h2 {
      text-align: left;
  }

  h2 {
      text-align: center;
  }